<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Настройки Entity Framework -->
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<!-- Поддерживаемая версия .NET Framework -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Настройки времени выполнения -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Подключение к базе данных -->
	<connectionStrings>
		<add name="Kamenetskiy_paymentEntities"
			 connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           Data Source=USERHOME-PC45\SQLEXPRESS;
                           Initial Catalog=Kamenetskiy_payment;
                           Integrated Security=True;
                           TrustServerCertificate=True;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<!-- Провайдер EF -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
